html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5deb3;
  overscroll-behavior: none;
  cursor: default;
  scroll-behavior: smooth;
}
#favourites {
  scroll-margin-top: 200px;
}
#menu {
  scroll-margin-top: 120px;
}
#hero {
  scroll-margin-top: 60px;
}
