/* Brand.css */

body {
  margin: 0;
  background: #f5deb3;
}

.brand {
  position: relative;
  width: 100%;
  background: #f2b705;
  overflow: visible; /* required for bottom drip */
  isolation: isolate;
  height: 400px;
}

.brand::before,
.brand::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
  z-index: 1;
}

.brand::before {
  top: -2px; /* slightly more aggressive seam kill */
  background-image: url("../assets/border-top.svg");
}

.brand::after {
  bottom: -140px;
  background-image: url("../assets/border-bottom.svg");
}

.brand__inner {
  position: relative;
  z-index: 2;
  padding: 6rem 2rem;
}

@media (max-width: 640px) {
  .brand__inner {
    padding: 3.5rem 1.25rem;
  }
}
