/* Brand.css */

body {
  margin: 0;
  background: #f5deb3;
}

.brand {
  position: relative;
  width: 100%;
  background: #f2b705;
  overflow: visible; /* required for bottom drip */
  isolation: isolate;
  height: 400px;
}

.brand::before,
.brand::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
  z-index: 1;
}

.brand::before {
  top: -2px; /* slightly more aggressive seam kill */
  background-image: url("../assets/border-top.svg");
}

.brand::after {
  bottom: -140px;
  background-image: url("../assets/border-bottom.svg");
}

.brand__inner {
  position: relative;
  z-index: 2;
  padding: 6rem 2rem;
  display: flex;
  flex-direction: row;
  padding-top: 8rem;
}

@media (max-width: 640px) {
  .brand__inner {
    padding: 3.5rem 1.25rem;
  }
}

/* grow animation */
@keyframes grow {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.brand-img {
  height: 300px;
  width: 300px;
  align-items: center;
  animation-name: grow;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-timeline: view(); /* animacija se desava kada je element vidljiv */
  animation-range: entry 0% cover 40%; /* animacija se desava kada se element pojavi i zavrsava se na 40% stranice */
}

.brand-row-second {
  justify-content: center;
  text-align: center;
  justify-items: center;
}
.brand__title {
  color: #4a2f1a;
  font-size: 40px;
  font-family: "Bowlby One", sans-serif;
  letter-spacing: 0.07em;
  font-weight: 800;
  margin-bottom: 0.5rem; /* 👈 smaller gap to text */
  margin-top: -1rem; /* 👈 moves header up */
  padding: 2rem;
}

.brand__text {
  padding: 0.8rem;
  margin-top: 0;
  font-family: "Poppins", system-ui, sans-serif;
  color: #2b1b10;
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: center;
}
