.social-container-main {
  margin-top: 200px;
  margin-bottom: 100px;
  height: 350px;
  width: 80vw;
  background-color: #6b4526;
  border: 2px solid #3c281aff;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-self: center;
  color: #f2b705;
  position: relative;
}
/* #4a2f1aff */
/* #6B4526 */
/* #3c281aff */
.social-header {
  font-size: 40px;
  font-family: "Bowlby One", sans-serif;
  letter-spacing: 0.07em;
  font-weight: 800;
  text-align: start;
  padding-top: 20px;
  padding-left: 200px;
}
.social-img {
  height: 320px;
  width: 320px;
  /* background-color: aquamarine; */
  position: absolute;
  right: 60px;
  bottom: -80px;
}
.social-divs {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  /* gap: 40px; */
  color: rgb(252, 237, 210);
  font-size: 25px;
  font-family: "Poppins", system-ui, sans-serif;
  /* background-color: aquamarine; */
}
.social-text {
  padding-left: 40px;
  /* background-color: rgb(14, 142, 255); */
}
.social-name {
  color: rgb(236, 206, 149);
  padding-left: 60px;
  font-size: 18px;
}
